.sub-content-2 {
  display: flex;
  justify-content: space-evenly;
}

.example-form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
